<!-- 202233207 김도연 -->
<!-- purchaseU.ejs -->
<div class="container">
  <h3 style="margin-bottom: 30px;">구매 내역 수정</h3>
  <form action="/purchase/update_process" method="post">
    <input type="hidden" name="purchase_id" value="<%= purchase.purchase_id %>">
    <div class="mb-3">
      <label class="form-label">고객</label>
      <select class="form-select" name="loginid" style="width: 300px">
        <% customers.forEach(function(person) { %>
          <option value="<%= person.loginid %>" <%= person.loginid === purchase.loginid ? 'selected' : '' %>><%= person.name %></option>
        <% }); %>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">상품</label>
      <select class="form-select" name="prod_id" style="width: 300px">
        <% products.forEach(function(prod) { %>
          <option value="<%= prod.prod_id %>" <%= prod.prod_id === purchase.prod_id ? 'selected' : '' %>><%= prod.name %></option>
        <% }); %>
      </select>
    </div>
   <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">날짜</label>
        <input class="form-control" type="text" name="date" value="<%= purchase.date %>" disabled>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">가격</label>
        <input class="form-control" type="text" name="price" value="<%= purchase.price %>">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">총액</label>
        <input class="form-control" type="text" name="total" value="<%= purchase.total %>" readonly>
      </div>
      <div class="col-md-6 mb-3">
        <label class="form-label">수량</label>
        <input class="form-control" type="text" name="qty" value="<%= purchase.qty %>">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label">지불여부</label>
      <select class="form-select" name="payYN" style="width: 100px">
        <option value="Y" <%= purchase.payYN === 'Y' ? 'selected' : '' %>>YES</option>
        <option value="N" <%= purchase.payYN === 'N' ? 'selected' : '' %>>NO</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">취소여부</label>
      <select class="form-select" name="cancel" style="width: 100px">
        <option value="Y" <%= purchase.cancel === 'Y' ? 'selected' : '' %>>YES</option>
        <option value="N" <%= purchase.cancel === 'N' ? 'selected' : '' %>>NO</option>
      </select>
    </div>
    <div class="mb-3">
      <label class="form-label">환불여부</label>
      <select class="form-select" name="refund" style="width: 100px">
        <option value="Y" <%= purchase.refund === 'Y' ? 'selected' : '' %>>YES</option>
        <option value="N" <%= purchase.refund === 'N' ? 'selected' : '' %>>NO</option>
      </select>
    </div>
    <button class="btn btn-outline-primary btn-sm" type="submit">수정</button>
    <a href="/purchase/view">
      <button class="btn btn-outline-primary btn-sm" type="button">구매 목록 돌아가기</button>
    </a>
  </form>
</div>
