<!-- 202233207 김도연
purchaseView.ejs -->
<table
  class="table table-bordered border-primary table-hover"
  style="text-align: center"
>
  <thead class="table-primary">
    <tr>
      <th>고객ID</th>
      <th>고객명</th>
      <th>상품ID</th>
      <th>상품명</th>
      <th>구매일</th>
      <th>가격</th>
      <th>구매량</th>
      <th>총가격</th>
      <th>지불여부</th>
      <th>취소여부</th>
      <th>환불여부</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% if (purchases && purchases.length > 0) { %> <%
    purchases.forEach(function(purchase) { %>
    <tr>
      <td><%= purchase.loginid %></td>
      <td><%= purchase.customer_name %></td>
      <td><%= purchase.prod_id %></td>
      <td><%= purchase.prod_name %></td>
      <td><%= purchase.date %></td>
      <td><%= purchase.price %></td>
      <td><%= purchase.qty %></td>
      <td><%= purchase.total %></td>
      <td><%= purchase.payYN %></td>
      <td><%= purchase.cancel %></td>
      <td><%= purchase.refund %></td>
      <td>
        <a
          href="/purchase/update/<%= purchase.purchase_id %>"
          style="text-decoration: none"
          >수정</a
        >
      </td>
      <td>
        <a
          href="/purchase/delete/<%= purchase.purchase_id %>"
          style="text-decoration: none"
          onclick="return confirm('정말로 삭제하시겠습니까?')"
          >삭제</a
        >
      </td>
    </tr>
    <% }); %> <% } else { %>
    <tr>
      <td colspan="14">구매 목록이 비어있습니다.</td>
    </tr>
    <% } %>
  </tbody>
</table>
